<html>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="css/index.css" rel="stylesheet" type="text/css">

<head>
    <title>Find Seniors</title>
<style>

</style>
</head>

<body>
		<form action="/search" method="POST">
            <input type="search" name="sc" placeholder="State/City"/>
            <i class="fa fa-search"></i>
		</form>
</body>

</html>
