<html>

<link href="css/result.css" rel="stylesheet" type="text/css">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<table class="styled-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Roll No.</th>
      <th>City</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <%
	    if(user.length!=0){
	      user.forEach(function(data){
    %>
        <tr>
          <td><%=data.name%></td>
          <td><%=data.rno%></td>
          <td><%=data.city%></td>
          <td><%=data.state%></td>
        </tr>
        <%})%>
    <%} else{%>
        <tr><td>No Seniors found</td></tr>
    <%}%>
  </tbody>
</table>
</body>
</html>
